/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*input{
  border:none;
  box-shadow:0px opx 10px pink;
  font-size:1.2rem;
  outline:none;
  padding:10px;
  margin:20px;
  border:2px solid transparent;
  border-radius:10px;

}
input:focus{
  text-decoration:none;

} 
input:focus-within{
  border:2px solid aqua;

}
.App{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background-image: 'url("./cabine.jpg")';
}
button{
  width:auto;
  padding:20px 30px;
  margin:10px;
  border:2px solid white;
  box-shadow:0px opx 10px grey;
  font-size:1.2rem;
  border-radius:200px;
  cursor:pointer;
}
button:active{
  color:red;
  background-color: antiquewhite;
}
td,th{
  text-align:center;
}*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
  
}
h1{
  background-color:blue;
  color: white;
}
/* h5{
  background-color: #282c34;
  color: white;
}
.contact{
  background-color: #282c34;
  color: white;
} */

input{
  border:none;
  box-shadow:0px opx 10px pink;
  font-size:1.2rem;
  outline:none;
  padding:10px;
  margin:20px;
  border:2px solid transparent;
  border-radius:10px;

}
input:focus{
  text-decoration:none;

} 
input:focus-within{
  border:2px solid aqua;

}
.App{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
 
}
button{
  width:auto;
  padding:20px 30px;
  margin:10px;
  border:2px solid white;
  box-shadow:0px opx 10px grey;
  font-size:1.2rem;
  border-radius:200px;
  cursor:pointer;
}
button:active{
  color:black;
  background-color: antiquewhite;
}
td,th{
  text-align:center;
  
}